<ul class="brewList">
  <% breweries.forEach(function(brewery) { %>
     <li class="foundBrew">
        <h3>
          <%= brewery.name %>
        </h3>
        <p>  
          <%= brewery.street %>
          <%= brewery.city %>
          <%= brewery.postal_code %>
       </p>
       <form method="POST" action="/profile" >
         <input type="hidden" name="name" value="<%=brewery.name%>">
         <input type="hidden" name="address" value="<%=brewery.street%>">
         <input type="hidden" name="city" value="<%=brewery.city%>">
         <input type="hidden" name="postalCode" value="<%= brewery.postal_code %>">
         <button type="submit" name="favorite" >Add to Favorites</button>
       </form>
     </li>
   <% }); %>
   </ul>

 